/* ==========================================================================
Styles for Dashboard component
========================================================================== */

@import "../../../assets/styles/main";

// Start styles Dashboard component
.t-dashboard {
  background-color: #f2f2f2;
  min-height: 1000px;
  position: relative;
}
