/* ==========================================================================
Styles for Header component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/main";

// Start styles Header component
.o-Header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  height: 110.85px;
  padding: 20px 70px;
  .header-title {
    font-family: 'Press Start 2P';
    color: $dark-orange;
    font-weight: 700;
    letter-spacing: 10px;
    cursor: pointer;
  }
}








