/* ==========================================================================
Styles for Detail component
========================================================================== */

@import "../../../assets/styles/main";

// Start styles Detail component
.p-detail {
  width: 100%;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 50px;

  .detail-upside {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 50px;

    img {
      cursor: pointer;
      &:hover {
        box-shadow: 1px 2px 10px $outer-space;
        transform: translateY(-2px);
      }
      
      &:active {
        box-shadow: 0 0 5px $outer-space;
        transform: translateY(2px);
      }
    }

    .detail-movie {
      text-align: left;
      margin-left: 20px;

      .detail-title {
        font-weight: bold;
      }

      .detail-content {
        // width: 400px;
      }
    }
  }
}
