/* ==========================================================================
Styles for Home component
========================================================================== */

@import "../../../assets/styles/main";

// Start styles Home component
.p-home {
  
}

.fixed {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 40;
  transition: all 0.4s ease;
  animation: fadeIn 0.3s;
}
