/* ==========================================================================
Styles for Modal component
========================================================================== */

// import mixin and variables
@import "../../../assets/styles/main";

// Start styles Modal component
.m-modal {
  overflow-wrap: break-word;
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    img {
      width: 38%;
      height: 95%;
    }
  }
}
